{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}
